<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfc.apps.hive"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:name="com.jfc.apps.hive.HiveApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_hive"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jfc.apps.hive.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jfc.apps.hive.HiveSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.jfc.apps.hive.BleSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.jfc.apps.hive.MotorSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.jfc.apps.hive.HiveScanActivity"
            android:label="@string/app_name" >
        </activity>
        
        <service
            android:name="com.jfc.srvc.ble2cld.BluetoothPipeSrvc"
            android:exported="false"/>
        
		<receiver  android:name="com.jfc.srvc.ble2cld.SimpleWakefulReceiver"
		    	 android:exported="false">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED"/>
            	<action android:name="android.intent.action.REBOOT"/>
		    </intent-filter>
		</receiver >
		
    </application>

</manifest>
