.recommenders
.metadata
.svn
.settings
gen/
bin/

# built application files
*.ap_
*.jar
!gradle/wrapper/gradle-wrapper.jar

# lint folder
lint

# files for the dex VM
*.dex

# Java class files
*.class
